body{
  font-family: 'Comfortaa', cursive;
  margin: 0;
  padding: 0px;
  background-color: #F7EBE8;
}

body{width:100%;}

a{
  text-decoration: none;
  color: #000000;
}

.center{
  text-align: center;
  align-items: center;
}

.lien{
  text-decoration: underline;
  color: #F7EBE8;
}

.margin1{
  margin-top: 50px;
}

.maintitle{
  font-size: 50px;
}

header{
  background-color: #0FA3B1;
  width: 100%;
  color: #F7EBE8;
  padding-top: 20px;
}

p{
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 20px;
}

.titre{
  text-decoration: underline;
  color: #F7EBE8;
  padding: 2px;
}

mark{
  background-color: #0FA3B1;
  color: #F7EBE8;
  padding-left: 5px;
  padding-right: 5px;
}

.markcode{
  background-color: #FF6B6B;
  color: #F7EBE8;
  padding-left: 5px;
  padding-right: 5px;
}

header > nav{
  background-color: #424558;
  list-style-type: none;
  width: 100%;
}

header > nav > ul{
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

header > nav > ul > li{
  list-style-type: none;
  float: left;
  position: relative;
}

header > nav > ul > li > a{
  text-align: center;
  display: inline-block;
  align-items: center;
  text-decoration: none;
  padding: 20px 35px;
  color: #F7EBE8;
}

header > nav > ul > li > a:hover{
  border-top: 5px solid #4ECDC4;
  padding-top: 15px;
  background-color: RGBa(78, 205, 196, 0.15);
}

.headercode{
  background-color: #FF6B6B;
  width: 100%;
  padding-top: 20px;
  color: #F7EBE8;
}

.headercode > nav{
  background-color: #424558;
  list-style-type: none;
  width: 100%;
}



.headercode > nav > ul{
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

.headercode > nav > ul > li{
  list-style-type: none;
  float: left;
  position: relative;
}

.headercode > nav > ul > li > a{
  text-align: center;
  display: inline-block;
  align-items: center;
  text-decoration: none;
  padding: 20px 35px;
  color: #F7EBE8;
}

.headercode > nav > ul > li > a:hover{
  border-top: 5px solid #E44D26;
  padding-top: 15px;
  background-color: RGBa(228, 77, 38, 0.15);
}

.maintitlecode{
  margin-left: 15px;
}






.headercont{
  background-color: #EE964B;
  width: 100%;
  padding-top: 20px;
  color: #F7EBE8;
}

.headercont > nav{
  background-color: #424558;
  list-style-type: none;
  width: 100%;
}



.headercont > nav > ul{
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

.headercont > nav > ul > li{
  list-style-type: none;
  float: left;
  position: relative;
}

.headercont > nav > ul > li > a{
  text-align: center;
  display: inline-block;
  align-items: center;
  text-decoration: none;
  padding: 20px 35px;
  color: #F7EBE8;
}

.headercont > nav > ul > li > a:hover{
  border-top: 5px solid #F4D35E;
  padding-top: 15px;
  background-color: RGBa(244, 211, 94, 0.15);
}

img{
  border-top: 5px solid #0FA3B1;
  border-bottom: 5px solid #FFFFFF;
  max-width: 50vw;
}

.icone{
  max-width: 3vw;
}

.icone2{
  max-width: 1vw;
}

.maintitlecont{
  margin-left: 15px;
}

.taille1{
  font-size: 40px;
}

.markedlinkcode{
  color: #F7EBE8;
}

section > div >  li{
  margin-top: 20px;
  margin-bottom: 20px;
  list-style-type: none;
  display: inline-flex;
}

.markcont{
  background-color: #F4D35E;
  color: #000000;
  padding-left: 5px;
  padding-right: 5px;
}
section > div > li > a{
  color: #000000;
  border-top: 5px solid #F4D35E;
  border-bottom: 5px solid #FFFFFF;
  padding: 10px 20px;
  margin-top: 30px;
  margin-left: 30px;
}


section > div > li > a:hover{
  border-top: 5px solid #F4D35E;
  border-radius: 25px;
  background-color: RGBa(244, 211, 94, 0.15);
}
